@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/aos/dist/aos.css';
@import "mixins.scss";
@import "animations.scss";

@import "../modules/modal/modal.scss";

$color-orange: #f98a09;

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-example {
  width: 90%;
  margin: 0 auto;
}

.responsive-mixin-example {
  @include breakpoint(sm) {
    background: $color-orange;
    width: 100%;
  }  
}